/* 把我们所有标签的内外边距清零 */

* {
  margin: 0;
  padding: 0;
  /* css3盒子模型 所有盒子不会撑大 */
  box-sizing: border-box;
  color: #000;
}
a{
  text-decoration: none;
}
p{
  margin: 0;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
}
ul{
  margin: 0;
}
li{
  margin: 0;
}
.w {
  width: 1240px;
  margin: 0 auto;
}

@media screen and (max-width: 1420px) {
  .w {
    width: 100%;
    padding: 0 5%;
  }
}


/* em 和 i 斜体的文字不倾斜 */

em,
i {
  font-style: normal
}


/* 去掉li 的小圆点 */

li {
  list-style: none
}

img {
  /* border 0 照顾低版本浏览器 如果 图片外面包含了链接会有边框的问题 */
  border: 0;
  /* 取消图片底侧有空白缝隙的问题 */
  vertical-align: middle
}

button {
  /* 当我们鼠标经过button 按钮的时候，鼠标变成小手 */
  cursor: pointer;
  width: 171px;
  height: 50px;
  font-size: 18px;
  color: #fff;
  border-radius: 7px;
  background-color: #bc0611;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 10px;
}

button,
input {
  /* "\5B8B\4F53" 就是宋体的意思 这样浏览器兼容性比较好 */
  font-family: Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
  /* 默认有灰色边框我们需要手动去掉 */
  border: 0;
  outline: none;
}

body {
  /* CSS3 抗锯齿形 让文字显示的更加清晰 */
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  font: 12px/1.5 Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
  color: #666
}

.hide,
.none {
  display: none
}


/* 清除浮动 */

.clearfix:after {
  visibility: hidden;
  clear: both;
  display: block;
  content: ".";
  height: 0
}
